html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #050505;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Remove number input arrows in Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}